<section class="history-container">
  <header class="history-header">
    <h1 class="history-title">Historial de Trámites</h1>
    <p class="history-description">
      Acceda y gestione todas sus tramites en una visión general centralizada.
    </p>
  </header>

  <nav class="filter-tabs">
    <div class="tabs-wrapper desktop-tabs">
      @for (tab of tabs; track $index) {
      <app-button class="tab" variant="ghost" [label]="tab" fontWeight="medium" [class.active]="$index === currentTab"
        (click)="setCurrentTab($index)" />
      }
    </div>


    <select class="mobile-filter" [value]="currentTab" (change)="setCurrentTab(+$any($event.target).value)">

      @for (tab of tabs; track $index) {
      <option [value]="$index">
        {{ tab }}
      </option>
      }

    </select>

  </nav>

  <!-- <main class="records-list">
    @for (card of filteredCards; track card.label) {
      <app-history-card
        [title]="card.title"
        [label]="card.label"
        [date]="card.date"
        [department]="card.department"
        [status]="card.status"
        [icon]="card.icon"
        [linkUrl]="card.linkUrl"
      ></app-history-card>
    } @empty {
      <p>No hay trámites en esta categoría.</p>
    }
  </main> -->

  <main class="records-list">
    @for (card of filteredCards; track card.chat_id) {
    <app-history-card [title]="card.title" [label]="card.chat_id.toString()" [date]="card.created_at"
      [department]="card.department" [status]="card.status" [icon]="card.icon"
      [linkUrl]="card.linkUrl"></app-history-card>
    } @empty {
    <p>No hay trámites en esta categoría.</p>
    }
  </main>
</section>