.message-row {
  display: flex;
  gap: 16px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: var(--highlight);
  border-radius: var(--border-radius-l);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

.message-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bubble {
  padding: 15px 20px;
  background: var(--color-neutral-300);
  border-radius: var(--border-radius-m);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bubble.inverse {
  background: var(--highlight);
  color: var(--color-white);
  border-bottom-right-radius: 0;
}

.text {
  font-weight: var(--font-weight-medium);
}

.timestamp {
  padding-top: 20px;
  align-self: flex-end;
  font-size: var(--font-size-xs);
}

.actions-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.quick-replies {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* Custom Button with Variant Ghost */
.quick-replies ::ng-deep app-button button {
  color: var(--foreground);
  padding: 8px 16px;
  border-radius: var(--border-radius-l);
  border: 1px solid var(--color-neutral-300);
}
.quick-replies ::ng-deep app-button button:hover {
  transition: background 100ms ease-out;
  background-color: var(--button-inverse-hover);
}
.quick-replies ::ng-deep app-button button:active {
  transition: background 100ms ease-out;
  background-color: var(--button-inverse-active);
}

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
