footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.content-main {
  display: flex;
  justify-content: center;
  max-width: 1200px;
}

.footer-copyright {
  text-align: center;
  flex: none;
  order: 0;
}

.footer-copyright p {
  margin: 0;
  height: 18px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #475569;
}
