<app-layout-landing>
    <article id="features" class="features">
        <section class="features-content">
            <div class="content layout1">
                <img src="" alt="" />
                <div>
                    <span>100%</span>
                    <span>DIGITALIZADO</span>
                </div>
            </div>
            <div class="content layout2">
                <div>
                    <span>24/7</span>
                    <span>ASISTIDO POR IA</span>
                </div>
                <img src="" alt="" />
            </div>
        </section>

        <section class="features-header">
            <h2>Diseñado para la eficiencia del ciudadano moderno.</h2>
            <div class="points-contents">
                <div class="card-point-feature">
                    <div>
                        <app-icon-component name="ShieldLock" />
                    </div>
                    <div>
                        <h3>Identidad Única</h3>
                        <p>
                            Usa tu perfil digital para interactuar con todas las dependencias del estado sin
                            repetir datos.
                        </p>
                    </div>
                </div>

                <div class="card-point-feature">
                    <div>
                        <app-icon-component name="ShieldLock" />
                    </div>
                    <div>
                        <h3>Transparencia en Tiempo Real</h3>
                        <p>
                            Sigue el estado de tus solicitudes con notificaciones push y trazabilidad completa por
                            blockchain.
                        </p>
                    </div>
                </div>

                <div class="card-point-feature">
                    <div>
                        <app-icon-component name="ShieldLock" />
                    </div>
                    <div>
                        <h3>Seguridad de Nivel Bancario</h3>
                        <p>
                            Tus datos están protegidos bajo los más altos estándares de cifrado y soberanía
                            digital.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </article>
</app-layout-landing>