<label class="input-container">
  @if (showLabel()) {
    <span>{{ label() }}</span>
  }

  <div class="input-wrapper" [style.opacity]="isDisabled ? '0.6' : '1'">
    @if (showPreIcon()) {
      <app-icon-component
        [name]="PreIcon()"
        [style.cursor]="isPreIconClickable() && !isDisabled ? 'pointer' : 'default'"
        (click)="isPreIconClickable() && !isDisabled ? clickPreIcon.emit() : null"
      />
    }

    @if (type() === 'text') {
      <input
        type="text"
        [class]="inputClass()"
        [placeholder]="placeholder()"
        [value]="value()"
        [disabled]="isDisabled"
        (input)="handleInput($event)"
        (blur)="handleBlur()"
      />
    } @else {
      <textarea
        [class]="inputClass()"
        [placeholder]="placeholder()"
        [value]="value()"
        [disabled]="isDisabled"
        (input)="handleInput($event)"
        (blur)="handleBlur()"
        rows="1"
      ></textarea>
    }

    @if (showSubIcon()) {
      <app-icon-component
        [name]="SubIcon()"
        [style.cursor]="isSubIconClickable() && !isDisabled ? 'pointer' : 'default'"
        (click)="isSubIconClickable() && !isDisabled ? clickSubIcon.emit() : null"
      />
    }
  </div>
</label>