<app-layout-landing>
    <article class="hero">
        <section class="hero-content">
            <span class="badge-hero">La nueva era de la gestión pública</span>
            <h1>La gestión pública, <span>simplificada por IA.</span></h1>
            <p>
                Accede a todos los servicios gubernamentales desde un solo lugar. Nuestra inteligencia
                artificial te guía en trámites, pagos y consultas ciudadanas con transparencia absoluta.
            </p>
            <div>
                <app-link to="/auth/login" label="Iniciar Sesion con DNI" [showSubIcon]="true"
                    SubIcon="ArrowRightAlt" />
                <app-link to="/auth/register" label="Registrarme Ahora" variant="inverse" />
            </div>
        </section>
        <section class="hero-display">
            <div class="hero-display-image">
                <img src="https://img.magnific.com/foto-gratis/bandera-nacional-seda-peru-al-aire-libre_23-2149114546.jpg?t=st=1782408622~exp=1782412222~hmac=e36e44f8c9e57105b01b74434dedac7bda6f6441d16964d5e8b3db81b8c9d814&w=1060"
                    alt="" />
            </div>
            <div class="hero-display-card">
                <div class="hero-display-card-header">
                    <div class="app-icon-wrapper">
                        <app-icon-component name="SmartToy" />
                    </div>
                    <span>Asistente Virtual</span>
                </div>
                <p>"Hola Juan, tu trámite de renovación de licencia ha sido aprobado exitosamente."</p>
            </div>
        </section>
    </article>
</app-layout-landing>