<div class="card-action">
  <div class="accent-bar"></div>
  <div class="card-body">
    <header class="card-header">
      <span class="card-tag">{{ tag() }}</span>
      <app-icon-component [name]="icon()"></app-icon-component>
    </header>
    <div class="card-info">
      <h4 class="card-title">{{ title() }}</h4>
      <p class="card-desc">{{ description() }}</p>
    </div>
    <app-button [label]="buttonLabel()" variant="small" fontSize="s" fontWeight="semibold">
    </app-button>
  </div>
</div>
